body{
  background-image: url(http://d38wlcdzwz02m5.cloudfront.net/about/cdn/farfuture/tx2Gx8gNAkz1hAzsLpbZGormuCJE3gUxm4RxTbPJbPY/mtime:1453536967/sites/mktg-new/files/Solution-Background-photos-payment-services.jpg);
  height: 100%;
  width: 100%;
}

.payforit{
  width: 50px;
  height: 25px;
}
