h3{
  color: #4286f4;
  background-color: #d3f441;

}


p{
  font-family; cursive;
  font-size: 34px
}


div {
  height: 600px
  width: 650px
  background-image: url(http://orig03.deviantart.net/2c01/f/2015/064/1/7/_exo_wallpaper__exo_planet__2_the_exoluxion_by_its4you-d8kh9dt.jpg);


}
